<div class="card">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Barb Nash</h4>
    <!-- Text -->
    <p class="card-text">My daughter has completed the MYC program and is now in the Royal Conservatory program with Cordelia Sequeira as her teacher. I remember how much I looked forward to Cordelia’s MYC classes. Not only did the classes engage the children but also the parents! It was truly a bonding experience with my daughter – we loved the variety of activities – piano, singing, listening/rhythm activities, games, and ensembles that all reinforced so well the concepts being taught. I was also so amazed by how consistently each week Cordelia would smoothly instruct and lead us from one activity to another. I highly recommend the MYC program and Cordelia Sequeira who is absolutely wonderful with the children!</p>

  </div>

</div>
<div class="card">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Bruce D'Sena</h4>
    <!-- Text -->
    <p class="card-text">You have a knack for bringing out the very best with kindness, patience and just the right amount of professionalism and discipline with both parents and kids alike. Thank you for helping both of our kids express their talent, for being such a wonderful guide over so many years, and for bringing such beautiful music into our lives.</p>

  </div>

</div>
