@mixin banner-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .card {
    background: linear-gradient(mat-color($primary), #fff);
    box-shadow: none;
    border-radius: 0;
  }
}

@mixin banner-typography($config) {
  .banner {
    font: {
      family: mat-font-family($config, body-1);
      size: mat-font-size($config, body-1);
      weight: mat-font-weight($config, body-1);
    }
  }
}
