<!--The content below is only a placeholder and can be replaced.-->
<app-toolbar (sidenavToggle)="sidenav.toggle()"></app-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <app-banner></app-banner>
    <div fxLayout="row" fxLayoutAlign="start center">
      <span fxFlex="0 1 20" fxFlex.lt-sm="0 1 0"></span>
      <span fxFlex="0 1 60" fxFlex.lt-sm="0 1 100">
        <router-outlet></router-outlet>
      </span>
      <span fxFlex="0 1 20" fxFlex.lt-sm="0 1 0"></span>
    </div>
  </mat-sidenav-content>
  <mat-sidenav class="sidenav" #sidenav fxShow [(opened)]="opened" role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink="/summary"><mat-icon fontIcon="fa-home"></mat-icon>Home</a>
        <a mat-list-item routerLink="/aboutUs"><mat-icon fontIcon="fa-user"></mat-icon>About Us</a>
        <a mat-list-item routerLink="/inquiry"><mat-icon fontIcon="fa-comment"></mat-icon>Inquiries</a>
      </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>


