@mixin banner-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .card {
    background: linear-gradient(mat-color($primary), #fff);
    box-shadow: none;
    border-radius: 0;
  }
}
