//$fa-font-path: '../../node_modules/font-awesome/fonts';
// @import '../../../node_modules/font-awesome/scss/font-awesome.scss';

mat-form-field {
  width: 100%;
}

.mat-spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  color: inherit;
}

::ng-deep .mat-icon use {
  stroke: currentColor;
}
