@import '~@angular/material/theming';
@import 'app/banner/banner.component.theme';

// always include only once per project
@include mat-core();

$mml-app-primary: mat-palette($mat-amber);
$mml-app-accent:  mat-palette($mat-light-blue);
$mml-app-warn:    mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$mml-app-theme: mat-light-theme($mml-app-primary, $mml-app-accent, $mml-app-warn);

@include angular-material-theme($mml-app-theme);

@include banner-theme($mml-app-theme);

